<!-- card -->
<div class="card p-5 rounded-xl bg-opacity-60 backdrop-filter backdrop-blur-lg">
  <div>
    <div class="header-card flex justify-between font-semibold">
      <span>Team members</span>
    </div>
    <div class="card-content divide-y flex flex-col gap-y-3 mt-5 mb-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe similique
        dolorum corporis accusamus fugiat veritatis! Illum sint in rerum
        voluptatem officia vero adipisci deserunt? Saepe expedita veritatis
        voluptatibus non tempore.
      </p>
    </div>
    <div class="footer-card flex justify-between font-semibold">
      Team members end
    </div>
  </div>
</div>

<style>
  .card {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: flex-col;
    justify-content: space-between;

    max-width: 600px;
    height: 300px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
</style>
