---
---

<div class="wrap-container p-5 bg-opacity-60 backdrop-filter backdrop-blur-lg">
  <slot />
</div>

<style>
  .wrap-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
</style>
